<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
				http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd" >

	<context:annotation-config/>
	
	 <context:component-scan base-package="api.gabriel.spring"/>  
	
	
	<bean name="service" class="api.gabriel.spring.controller.PessoaController" />
	
	<bean name="dao" class="api.gabriel.spring.servico.PessoaService"  />
	
	!-- classe abaixo se refere aonde o banco e iniciado
	
	 <bean  name="mongoClient" class="com.mongodb.MongoClient"   >
	
	<constructor-arg  value="localhost"  />
	<constructor-arg  value="27017"  />

	</bean> 
	
	<!-- <bean  name="pessoa" class="api.gabriel.spring.modelo.Pessoa" >
	
	<property name="id" value="1"  />
	<property name="nome" value="aaa"  />   

	</bean>
	 -->
	
	
</beans>